---
import Section from "@/components/Section.astro";

import { competencies, languages } from "@cv";
---

<Section title="Competencias">
  <span class="text-pretty font-bold">Habilidades Blandas:</span>
  {
    competencies.map((competence, index) => {
      return <span>{competence.name + (index !== competencies.length - 1 ? ', ' : '.')}</span>
    }
    )
  }
  <br>
    <span class="text-pretty font-bold">Idiomas:</span>
    {
      languages.map((language, index) => {
        return <span>{(language.language + ' - ' + language.fluency) + (index !== languages.length - 1 ? ', ' : '.')}</span>
      }
      )
    }

</Section>
