---
import Section from "@/components/Section.astro";

import { skills, languages } from "@cv";
---

<Section title="Habilidades">
  <ul class="inline-flex flex-wrap list-inside gap-x-3.5 gap-y-1">
    {
      skills.map((skill) => (
        <li>
          <span>{skill.name}</span>
        </li>
      ))
    }
  </ul>
</Section>
