---
import { volunteering } from "@cv";
---

<section>
  <h2 class="font-bold text-xl">Voluntariado</h2>
  <hr class="border-gray-300" />
  <ul>
    {
      volunteering.map((volunteer) => (
        <li>
          <span class="font-bold">{volunteer.organization}</span> -{" "}
          {volunteer.position}
        </li>
      ))
    }
  </ul>
</section>

<style>
    section {
    margin: 0 auto 10px;
  }
</style>