---
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Header from "@/components/sections/Header.astro";
import Competencies from "@/components/sections/Competencies.astro";
import Layout from "@/layouts/Layout.astro";
import Profile from "@/components/sections/Profile.astro";
import Skills from "@/components/sections/Skills.astro";
import Volunteering from "@/components/sections/Volunteering.astro";
import Section from "@/components/Section.astro";

import { basics } from "@cv";
const { name, label} = basics;

// div class="education-voluntering" is used to display the education and volunteering sections side by side
// Future: create a component to display 2 sections side by side

---

<Layout title=`${name} - ${label}`>
  <main>
    <Header />
    <Profile />
    <Experience />
    <Section>
    <div class="education-voluntering">
      <Education />
      <Volunteering />
    </div>
    </Section>
    <Skills />
    <Competencies />
  </main>
</Layout>

<style>
  main {
    padding: 2.5rem;
    margin: auto;
    width: 100%;
  }

  section {
    margin-bottom: 2rem;
  }

  .education-voluntering {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
</style>
